:root {
  --button-bg-color: #b8c8da;
  --button-hover-bg-color: #7bb2ec;
  --button-text-color: #fff;
  --border-top-left-radius: 5px;
  --border-bottom-left-radius: 5px;
  --border-top-right-radius: 5px;
  --border-bottom-right-radius: 5px;
  --button-padding: 15px 15px;
  --button-border: none;
}
